@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-color:#232222;
     
    font-family: 'Manrope', sans-serif;
}
img{
    max-width:100%;
}
.banner-container{
    background-color:black;
    background-size:cover;
   height:100%;
    border: 1px solid black;
}
 
.banner-background-image-1{
    background-image: url(./images/path56.png);
    background-size:95% 90%;
    background-repeat: no-repeat;
    
    background-position:left bottom;
}
.banner-background-image-2{
    background-image: url(./images/soccer-goal-top-png-8\ 4.png),url(./images/Rectangle_57.png);
   
     background-size:10%,16%; 
    background-clip:content-box;
    background-repeat: no-repeat;
    background-position:right bottom,right bottom;
    
}
.margine-image-style{
    margin-top:7.33%;
}
.margin-img{
   margin-left:15.625rem;
}
/* .margin-banner{
    margin-top:1rem;
} */

.player-description-bg-color,.selected-v-players-list{
    background-color: black;
}
.playersList li{
    padding-bottom: 1rem;
     
}

h1{
    font-family: 'Berkshire Swash', cursive;
    
    
    
}
p{
width:87%;
}
.icon-rectangle{
     width:4px;
     height:4px;
     background-color: white;

}
input{
    background-color: transparent;
}
.btn-width{
    width:90%;
}
.coach-input {
    margin-left: 2.6rem;
}
@media screen and (min-width:992px) and (max-width:2000px) {
  h1{
    font-size:3.7rem;
  }
  p{
    font-size:0.93rem;
  }
  .spacing-img-football{
    padding-top: 4.7rem;
}  
h6{
    font-size:1rem;
}
button{
    font-size:0.1rem;
}
 
    
    

   
}
 